@font-face {
    font-family: 'Open Sans';
    src: url('./open_sans.woff');
}

*, body, h1, div, table, tr, td, input, li, button, span, form {
    margin: 0px;
    padding: 0px;
    font: 13px 'Open Sans', verdana;
    color: #d1d1d1;
    outline: none;
    border: 0px solid black;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    //background: #405D72;
    // background-color: rgb(56, 56, 56);
    background-color: #22272E;
    background-image: url('./bg.png');
}

a:link, a:visited {
    color: #CECECE;
    text-decoration: none;
}

a:hover {
    color: white;
}

.main {
    filter: blur(0px);
    transition: filter 0.3s;
}

#blurred {
    filter: blur(5px);
}