.menu {
    background: #3c444e91;
    height: 70px;
    border-bottom: 2px solid rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    
    .upper {
        flex: 1;
    }

    .lower {
        padding: 0px 15px;
        text-align: center;

        .item, .selected {
            transition: background 0.2s, color 0.2s, border 0.2s;
            display: inline-block;
            padding: 8px 11px;
            margin-right: 5px;
            position: relative;
            bottom: -2px;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            text-shadow: 1px 1px 2px rgb(20, 20, 20);

            // SHARED ICON ALIGNMENT
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: left 8px center;
            padding-left: 35px;
        }
    
        .item:hover {
            background-color: rgba(255, 255, 255, 0.096);
            border-bottom: 2px solid rgba(255, 255, 255, 0.692);
            color: white;
            cursor: pointer;
        }

        .selected {
            background-color: rgba(0, 0, 0, 0.103);
            border-bottom: 2px solid #EC775C;
            color: white;
        }

        #chart { background-image: url('./icons/chart.svg'); }
        #cog { background-image: url('./icons/cog.svg'); }
        #network { background-image: url('./icons/network.svg'); }
        #db { background-image: url('./icons/db.svg'); }
        #list { background-image: url('./icons/list.svg'); }
        #lock { background-image: url('./icons/lock.svg'); }
        #file { background-image: url('./icons/file.svg'); }
        #plus { background-image: url('./icons/plus.svg'); }
    }
}