.data_table {
    background: rgba(0, 0, 0, 0.363);
    padding: 2px;

    .row, .headers {
        margin-bottom: 2px;
        display: flex;
        text-shadow: 1px 1px 2px rgb(41, 41, 41);

        .column {
            padding: 6px 10px;
            color: white;
            flex: 1;
            margin-right: 2px;
            // text-align: right;
        }

        .column:first-child {
            text-align: left;
            flex: 2;
        }

        .column:last-child {
            margin-right: 0px;
        }
    }

    .row:nth-child(odd) .column {
        background: rgba(255, 255, 255, 0.200);
    }

    .row:nth-child(even) .column {
        background: rgba(255, 255, 255, 0.280);
    }

    .row:last-child {
        margin-bottom: 0px;
    }

    .headers {
        // background: transparent;
        text-transform: uppercase;

        .column {
            background: rgba(0, 0, 0, 0.300);
        }
    }
}