#prompt {
    background: rgba(0, 0, 0, 0.548);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;

    // SEEMLESS TRANSITION PROPS
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    #innerbody {
        width: 80vw;
        max-width: 500px;

        #title {
            font-size: 18px;
            font-weight: bold;
            color: white;
            text-align: center;
            padding-bottom: 4px;
            text-shadow: 1px 1px 2px rgb(41, 41, 41);
        }

        #backdrop {
            background: rgba(0, 0, 0, 0.363);
            padding: 5px;
    
            .content {
                background: #F1F1F1;
                padding: 5px 8px;
                color: rgb(49, 49, 49);
            }
        }
    }
 
    #close {
       background: url('./close.png') center center no-repeat;
       position: absolute;
       bottom: 0px;
       left: 0px;
       height: 80px;
       width: 80px;
       opacity: 0.6;
       transition: opacity 0.3s;
       cursor: pointer;
    }
 
    #close:hover {
       opacity: 1;
    }
}